---
layout: base
---
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<script type="text/javascript" src="{{ '/assets/js/netx-highlighter.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/responsive-image-zoom.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/article-nav.js' | relative_url }}"></script>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header" style="text-align: left;">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <h2 class="post-subtitle p-name" itemprop="name headline">{{ page.subtitle | escape }}</h2>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody" style="line-height: {{ page.line_height | default: '1.5' }};">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
